<footer>
            <div class="row">
                <div class="col-lg-12 footer" style="text-align: left;">
<p><a href="#"><kbd>BACK TO TOP &#8593;</kbd></a></p>

<ul>
<li><a href="https://superalgos.org/" target="_blank">Superalgos Project</a> &mdash; Learn more about the project.</li>
<li><a href="https://t.me/superalgoscommunity" rel="nofollow" rel="noopener" target="_blank">Community Group</a> &mdash; Let's talk Superalgos!</li>
<li><a href="https://t.me/superalgossupport" rel="nofollow" rel="noopener" target="_blank">Support Group</a> &mdash; Need help using the <code>master</code> branch?</li>
<li><a href="https://t.me/superalgosdevelop" rel="nofollow" rel="noopener" target="_blank">Develop Group</a> &mdash; Come test the <code>develop</code> branch!</li>
<li><a href="https://t.me/superalgosuxui" rel="nofollow" rel="noopener" target="_blank">UX/UI Design Group</a> &mdash; Help us improve the GIU!</li>
<li><a href="https://t.me/superalgos_es" rel="nofollow" rel="noopener" target="_blank">Grupo en Español</a> &mdash; Hablemos en español!</li>
<li><a href="https://t.me/superalgos" rel="nofollow" rel="noopener" target="_blank">Superalgos Announcements</a> &mdash; Be the first to know about new releases, hotfixes, and important issues.</li>
</ul>
<img src="{{ "images/Superalgos-logo-light-bg-horz.svg" }}" width="200 px"/>

                </div>
            </div>
</footer>

